.full-width {
    width: 100%;
}

.upload-img {
    float: left;
}

.sidebar .upload-img {
    text-align: right;
}

.upload-img img{
        height: 40px;
        text-align : right;     
    }

.cus-block {
    width: 100%;
    display: inline-block;
    margin: 0 20px;
    padding: 10px 15px;
    border-bottom: 1px solid #000;
}
.cus-block .col-6 {
    float: left;
    
}
.col-6 span {
    font-size:  30px;
}
.doc-sidebar {
    width: 33.33%;
    float: left;
}

.doc-view  {
    width: 66.66%; 
    float: right;
    display: inline-block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.custom-width {
    width:  30%;
    margin: 0 auto;
    float: left;
    position: absolute;
    border:  1px solid;
}


.document-window {
    display: inline-block;
    padding: 0 10px;
}

.document-window img {
    height: 500px;
    max-width: 800px;
}

.sidebar {
    width : 100%;
}

