.full-width {
    width: 100%;
}

.upload-img {
    float: left;
}

.upload-img img{
        height: 40px;
        text-align : right;     
    }

.cus-block {
    width: 100%;
    display: inline-block;
    margin: 0 20px;
}
.cus-block .col-6 {
    float: left;
}
.col-6 span {
    font-size:  30px;
}
.doc-sidebar {
    width: 33.33%;
    float: left;
}

.doc-view  {
    width: 66.66%; 
    float: right;
    position: relative;
    display: inline-block;
}

.custom-width {
    width:  30%;
    margin: 0 auto;
    float: left;
    position: absolute;
    border:  1px solid;
}


.document-window {
    display: inline-block;
    padding: 0 10px;
}

.document-window img {
    height: 100%;
    width: inherit;
}

